.card{
    .categoryCard{
        color: black;
        width: 200px;
        height: 300px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        border: 2px solid black;
        
    
        @media screen and (max-width:800px){
            width: 150px;
            height: 200px;
            margin:auto;
        }
        @media screen and (max-width:600px){
            width: 120px;
            height: 170px;
            margin:auto;
        }
        @media screen and (max-width:500px){
            width: 100px;
            height: 140px;
            margin:auto;
        }
        @media screen and (max-width:415px){
            width: 80px;
            height: 120px;
            margin:auto;
            
        }
        @media screen and (max-width:330px){
            width: 70px;
            height: 120px;
            margin:auto;
            
        }
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            // @media screen and (max-width:768px){
            //     width: 100px;
            //     height: 150px;
            // }
        }
    
        .desc{
            position: absolute;
            top: 15px;
            left: 15px;
            font-weight: 300;
        }
    
        .title{
            position: absolute;
            left: 15px;
            top: 40px;
            font-weight: 500;
            font-size: 24px;

            @media screen and (max-width:768px){
                font-size: 14px;
            }
        }
    
        
    }
}
