.messages {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .container {
      width: 1400px;
      padding: 50px 0px;

      @media screen and (max-width:500px){
        margin: 0 auto;
      }
  
      .title {
        display: flex;
        justify-content: space-between;
  
        button {
          background-color: #1dbf73;
          color: white;
          font-weight: 500;
          border: none;
          padding: 10px;
          cursor: pointer;
        }
      }

      // .stories-container{
      //   display: flex;
      //   flex-direction: column;
      //   gap: 40px;
      //   padding: 50px 0;

      //   .stories{
      //   display: flex;
      //   align-items: center;
      //   gap: 20px;
      //   justify-content: space-around;
        
      //   .img-container{
      //     .image {
      //         width: 50px;
      //         height: 25px;
      //         object-fit: cover;
      //       }
      //   }

      //   .delete {
      //         width: 30px;
      //         cursor: pointer;
      //         color: red;
      //       }

      // }
      // }
  
      table {
        width: 100%;
        @media screen and (max-width:500px){
          font-size: 12px;
        }
        @media screen and (max-width:321px){
          font-size: 10px;
        }
        
  
        tr {
          height: 100px;
          th {
            text-align: left;
          }
          td {
            padding: 10px;
  
            &:first-child {
              font-weight: 500;
            }
            
            &:nth-child(2),
            &:nth-child(3) {
              color: gray;
            }
          }
  
          button {
            background-color: #1dbf73;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;

            @media screen and (max-width:500px){
              
              font-size: 8px;
              padding: 5px;
            }
          }
  
          &.active {
            background-color: #1dbf730f;
          }
        }
      }
    }
  }
  