$primary-color:#002451;
$secondary-color:#eba62d;

.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    color: white;

    .container{
        display: flex;
        align-items:center;
        gap: 50px;

        @media screen and (max-width:1024px){
            
        }

        .left{
            display: flex;
            flex-direction: column;
            gap: 30px;

            .story{
                color: $secondary-color;
                text-decoration: underline;
            }

            h1{
                font-size: 50px;
            }

            .search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;
                

                &-input{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media screen and (max-width:425px){
                        gap: 0;
                        
                    }

                    .search-icon{
                        color: $primary-color;
                        padding-left: 5px;
                    }

                    input{
                        border: none;
                        outline: none;
                    }
                }
                button{
                    border: none;
                    outline: none;
                    background-color:$secondary-color;
                    color: black;
                    width: 120px;
                    height: 50px;
                    cursor: pointer;
                    @media screen and (max-width:425px){
                        width: 70px;
                        font-size: 12px;
                        
                    }

                    
                }
            }
            .popular{
                display: flex;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;

                button{
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 14px;
                    cursor: pointer;
                    width: max-content;

                    @media screen and (max-width:768px){
                        font-size: 10px;
                    }
                }
            }

            @media screen and (max-width:425px){
                h1{
                    font-size: 32px;
                }
                
            }
        }
        .right{
            height: 80%;

            @media screen and (max-width:1024px){
                display: none;
            }

            img{
                height: 100%;
                object-fit: contain;
            }
        }
    }

    
}