
.footer{
    display: flex;
    justify-content: center;
    color: #999 !important;
    margin: 50px 0;
    .container{
        .top{
            display: flex;
            justify-content: center;
            text-align: center;

            .item{
                display: flex;
                
                gap: 20px;

                @media screen and (max-width:768px){
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                h2{
                    font-size: 16px;
                    color: #555;
                }

                span{
                    font-weight: 300;
                    cursor: pointer;
                }

                @media screen and (max-width:550px){
                    h2{
                        font-size: 12px;
                    }
                    span{
                        font-size: 10px;
                    }
                }
            }
        }
        hr{
            color: lightgray;
            height: 0;
            margin: 50px 0;
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width:550px){
                flex-direction: column;
                gap: 20px;
            }
            .left{
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: center;

                span{
                    font-size: 13px;
                }

            }
            .right{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .icon{
                    cursor: pointer;
                }
            }
        }
    }
}