*{
    .link{
        text-decoration: none;
        color: inherit;
    }
}

$primary-color:#002451;
$secondary-color:#0a2353;

.container{
    width: 75% !important;
    // margin: 0 auto !important;
    // text-align: center !important;
}