.orders {
    display: flex;
    justify-content: center;
    color: #555;
  
    .container {
      width: 1400px;
      padding: 50px 0px;
  
      .title {
        display: flex;
        justify-content: space-between;
  
        button {
          background-color: #1dbf73;
          color: white;
          font-weight: 500;
          border: none;
          padding: 10px;
          cursor: pointer;
        }
      }

      .orders-container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 50px 0;

        .stories{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-around;

        @media screen and (max-width:500px){
          flex-direction: column;
          border-bottom: 1px solid rgba(128, 128, 128, 0.248);
          padding: 10px;
        }
        
        .img-container{
          .image {
              width: 50px;
              height: 25px;
              object-fit: cover;
            }
        }

        .message {
          cursor: pointer;
          color: green;
        }

      }
      }
    }
  }